.float-left-child {
    float: left;
    margin-right: 20px;
}

.box-styling {
    outline: auto;
    outline-color: black;
    padding: 10px;
    margin-left: 15%;
    background-color: aliceblue;
}

.height-limit {
    height: 350px;
    overflow: auto;
}

.list-styling {
    list-style-position: outside;
}

.btn {
    background-color: #a9e6d3;
    text-align: left; 
    vertical-align: middle; 
    padding:10px 10px;
    float: top;
    margin: 10px;
}