.float-left-child {
    float: left;
    margin-right: 20px;
}

.box-styling {
    outline: auto;
    outline-color: black;
    padding: 10px;
    margin-left: 15%;
    background-color: aliceblue;
}

.height-limit {
    height: 350px;
    overflow: auto;
}

.list-styling {
    list-style-position: outside;
}

.btn {
    background-color: #a9e6d3;
    text-align: left; 
    vertical-align: middle; 
    padding:10px 10px;
    margin: 10px;
}

.btnfront {
    text-align: center;
    vertical-align: middle;
    padding:15px 15px;
    margin: 10px;
    float: none;
}

.top-layer {
    float: left;
    vertical-align: top;
}

.return {
    position: absolute;
}

.container {
    margin-top: 40px;
    margin-left: 2%;
    width: 45%;
    height: 22.5%;
    float: left;
}

.container1 {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#data-tables {
    position: absolute;
    margin-top: 50px;
}