---
import { supabase } from "../lib/supabase";
const { data } = await supabase.from("measurements").select();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="/styles.css" type="text/css" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Forside</title>
	</head>
	<body>
		<div class="container1">
			<button class="btnfront" type="button" onclick="location.href='/tables'">Gå til rå data</button>
			<button class="btnfront" type="button" onclick="location.href='/graphs'">Gå til grafer</button>
		</div>
	</body>
</html>