---
import { supabase } from "../lib/supabase";
const { data } = await supabase.from("measurements").select();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="/styles.css" type="text/css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Eksempel</title>
	</head>
	<body>
		<div>
			<div class="top-layer">
				<button class="btn return" type="button" onclick="location.href='../'">
					Tilbage til forside
				</button>
			</div>

			<div class="top-layer">
				<h1 style="margin-left: 150px;">
					Målinger
				</h1>
			</div>
		</div>

		<div id="data-tables">
			<div class="float-left-child">
				<h2>Temperatur</h2>
				<ul class="height-limit">
					{
						data.map((row) => (
							<li class="list-styling">
								{row.temperatur} grader d.{" "}
								{new Date(row.created_at).toLocaleString()}
							</li>
						))
					}
				</ul>
			</div>

			<div class="float-left-child">
				<h2>Tryk</h2>
				<ul class="height-limit">
					{
						data.map((row) => (
							<li class="list-styling">
								{row.tryk} hPa d.{" "}
								{new Date(row.created_at).toLocaleString()}
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</body>
</html>
